@model SalesManagement.MvcApplication.ViewModels.Order.OrderPartialViewModel 


<div class="summary">
    @if (Model.HasButtons)
    {
        <h2>
            Approve the information below
        </h2>
    }
    <div class="summary-items">
        <div class="summary-item">
            <span class="summary-item-title">Client →</span>
            <span class="summary-item-value">@Model.ClientFullName (#@Model.ClientUniqueId)</span>
        </div>

        <div class="summary-item">
            <span class="summary-item-title">Product →</span>
            <span class="summary-item-value">@Model.ProductName (#@Model.ProductSku)</span>
        </div>

        <div class="summary-item">
            <span class="summary-item-title">Amount →</span>
            <span class="summary-item-value">@Model.Amount</span>
        </div>

        <div class="summary-item">
            <span class="summary-item-title">Price →</span>
            <span class="summary-item-value">@Model.Price $</span>
        </div>

        <div class="summary-item">
            <span class="summary-item-title">Total →</span>
            <span class="summary-item-value">@Model.TotalPrice $</span>
        </div>

        <div class="summary-item">
            <span class="summary-item-title">Delivery date →</span>
            <span class="summary-item-value">@Model.DeliveryDate.ToString("dddd, dd MMMM, yyyy")</span>
        </div>

        <div class="summary-item">
            <span class="summary-item-title">Delivery address →</span>
            <span class="summary-item-value">@Model.DeliveryAddress</span>
        </div>

        <div class="summary-item">
            <span class="summary-item-title">Contact phone →</span>
            <span class="summary-item-value">+@Model.ContactPhoneNumber</span>
        </div>
    </div>
    @if (Model.HasButtons)
    {
        <div class="summary-buttons">
            <img width="50" height="50" alt="Approve" id="summary-button-ok" src="~/Content/Images/check50.png"/>
            <img width="50" height="50" alt="Decline" id="summary-button-cancel" src="~/Content/Images/cross50.png"/>
            @*<a href="#" class="summary-button-ok">Ok</a>
            <a href="#" class="summary-button-cancel">Cancel</a>*@
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Stylesheets/Order/_Order.css")"/>').appendTo('head');
    });
</script>