@using SalesManagement.MvcApplication
@model SalesManagement.MvcApplication.ViewModels.Order.ClientsViewModel

@{
    
    ViewBag.Title = GlobalConstants.TitlePrefix + "Clients";
}

@section Head
{
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/_Shared/_EntityList.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/Order/Clients.css"/>
}

@section MainContent{
    <h2>
        Clients
    </h2>
    @foreach (var client in Model.Clients)
    {
        <div class="entityListItem">
            <div class="bottomBordered">
                <div class="name">
                    <h4 >
                        <span class="clientName">@client.GetFullName()</span>
                        @*@Html.ActionLink("Client #"+@client.UniqueId,"EditClient","Order",new {id=client.UniqueId},new {title="Edit this client"})*@
                    </h4>
                </div>
                <div class="entityActionLinks">
                    <a class="entityActionLink" href="@Url.Action("EditClient","Order",new {uniqueId=client.UniqueId})">
                        <img class="entityActionLink" src="~/Content/Images/edit.png" alt="Edit" title="Edit"/>
                    </a>
                    <a class="entityActionLink" href="@Url.Action("DeleteClient","Order",new {uniqueId=client.UniqueId})">
                        <img class="entityActionLink" src="~/Content/Images/delete.png" alt="Del" title="Delete"/>
                    </a>
                </div>
            </div>
            <div class="additionalInfo">
                <div class="heading">
                    <span class="left">#@client.UniqueId</span>
                    <span class="right">+@client.Phone</span>
                    <div class="clearBoth"></div>
                </div>
                <div>
                    <div>
                        E-mail: @client.Email
                        
                    </div>
                    <div>Address: @client.Address</div>
                </div>
            </div>
            
            
        </div>
    }
}