@using SalesManagement.MvcApplication
@using SalesManagement.MvcApplication.ViewModels
@model SalesManagement.MvcApplication.ViewModels.Order.OrderViewModel

@{
    string title = null;
    string actionName = null;
    string notification = null;
    string buttonTitle = null;
    string linkText = String.Empty;
    switch (Model.ActionType)
    {
        case ActionType.Create:
            title = "Register order";
            actionName = "Create";
            notification = "Order registration";
            buttonTitle = "Register";
            linkText = "← To the orders list";
            break;
        case ActionType.Edit:
            title = "Edit order";
            actionName = "Edit";
            notification = "Order editing";
            buttonTitle = "Save";
            linkText = "← Back to the orders list";
            break;
    }
    ViewBag.Title = GlobalConstants.TitlePrefix + title;
}
@section Head
{
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/Order/Order.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/Order/_Client.css"/>
}

@section MainContent{
    <h2>
        @notification
    </h2>

    @Html.ActionLink(linkText, "Orders")
    @using (Html.BeginForm(actionName, "Order", FormMethod.Post))
    {
        <div class="separate left">
            @Html.Label("Client's Unique Id")<br />
            @Html.TextBoxFor(m => m.ClientUniqueId)
            <img id="uniqueIdExists" width="25" height="25" src="~/Content/Images/cross.png" alt=""/>
            <label id="uniqueIdNotification">Wrong client id</label>
            @Html.ValidationMessageFor(m => m.ClientUniqueId)
        </div>
        
        <div class="separate right">
            @Html.Label("Full name")<br/>
            @Html.Label("First name")
            <input type="text" id="clientFirstName"/><br/>
            @Html.Label("Last name")
            <input type="text" id="clientLastName"/>
            <button id="getClientsByFullName"type="button">Show suitable clients</button>
        </div>
        
        <div class="clearBoth">&nbsp;</div>
        <div id="matchingClients"></div>
        
        <div class="separate">
            @Html.Label("Product SKU")<br />
            @Html.TextBoxFor(m => m.ProductSku)
            <img id="skuExists" width="25" height="25" src="~/Content/Images/cross.png" alt=""/>
            <label id="skuNotification">Wrong product SKU</label>
            @Html.ValidationMessageFor(m => m.ProductSku)
        </div>
        <div id="matchingProducts"></div>
        
        <div class="separate">
            @Html.Label("Amount")<br />
            @Html.TextBoxFor(m => m.Amount)
            @Html.ValidationMessageFor(m => m.Amount)
        </div>
        
        <div class="separate">
            @Html.Label("Delivery date")<br />
            @Html.TextBoxFor(m => m.DeliveryDate)
            @Html.ValidationMessageFor(m => m.DeliveryDate)
        </div>
        
        <div class="separate">
            @Html.Label("Delivery address")<br />
            @Html.TextBoxFor(m => m.DeliveryAddress)
            @Html.ValidationMessageFor(m => m.DeliveryAddress)
        </div>
        
        <div class="separate">
            @Html.Label("Contact phone number")<br />
            +@Html.TextBoxFor(m => m.ContactPhoneNumber)
            @Html.ValidationMessageFor(m => m.ContactPhoneNumber)
        </div>
        
        
        @Html.HiddenFor(m => m.ActionType)
        
        <div class="separate">
            <button type="submit">@buttonTitle</button>
        </div>
    }
    <script type="text/javascript" src="~/Scripts/jQuery.1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/Order.js"></script>
}