@using SalesManagement.MvcApplication
@using SalesManagement.MvcApplication.ViewModels
@model SalesManagement.MvcApplication.ViewModels.Order.OrderViewModel

@{
    string title = null;
    string actionName = null;
    string notification = null;
    string notificationSuccessful = null;
    string buttonTitle = null;
    string linkText = String.Empty;
    switch (Model.ActionType)
    {
        case ActionType.Create:
            title = "Register order";
            actionName = "Create";
            notification = "Order registration";
            notificationSuccessful = "Order is successfully registered";
            buttonTitle = "Register";
            linkText = "← To the orders list";
            break;
        case ActionType.Edit:
            title = "Edit order";
            actionName = "Edit";
            notification = "Order editing";
            notificationSuccessful = "Order is successfully changed";
            buttonTitle = "Save";
            linkText = "← Back to the orders list";
            break;
    }
    ViewBag.Title = GlobalConstants.TitlePrefix + title;
}
@section Head
{
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/Order/Order.css"/>
}

@section MainContent{
    <h2>
        @if (Model == null || !Model.Success)
        {
            @notification
        }
        else
        {
            @notificationSuccessful
        }
    </h2>

    @Html.ActionLink(linkText, "Orders")
    @using (Html.BeginForm(actionName, "Order", FormMethod.Post))
    {
        <div class="separate">
            @Html.Label("Client's Unique Id")<br/>
            @Html.TextBoxFor(m=>m.ClientUniqueId)<img id="uniqueIdExists" width="25" height="25" src="~/Content/Images/cross.png"/>
            @Html.ValidationMessageFor(m => m.ClientUniqueId)
        </div>
        
        <div id="matchingClients"></div>
        <div class="separate">
            @Html.Label("Product SKU")<br/>
            @Html.TextBoxFor(m=>m.ProductSku)
            @Html.ValidationMessageFor(m => m.ProductSku)
        </div>
        
        <div class="separate">
            @Html.Label("Amount")<br/>
            @Html.TextBoxFor(m=>m.Amount)
            @Html.ValidationMessageFor(m => m.Amount)
        </div>
        
        <div class="separate">
            @Html.Label("Delivery date")<br/>
            @Html.TextBoxFor(m=>m.DeliveryDate)
            @Html.ValidationMessageFor(m => m.DeliveryDate)
        </div>
        
        <div class="separate">
            @Html.Label("Delivery address")<br/>
            @Html.TextBoxFor(m=>m.DeliveryAddress)
            @Html.ValidationMessageFor(m => m.DeliveryAddress)
        </div>
        
        <div class="separate">
            @Html.Label("Contact phone number")<br/>
            +@Html.TextBoxFor(m=>m.ContactPhoneNumber)
            @Html.ValidationMessageFor(m => m.ContactPhoneNumber)
        </div>
        
        
        @Html.HiddenFor(m => m.ActionType)
        
        <div class="separate">
            <button type="submit">@buttonTitle</button>
        </div>
    }
    <script type="text/javascript" src="~/Scripts/jQuery.1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/Order.js"></script>
}