@using Model
@using SalesManagement.MvcApplication
@model SalesManagement.MvcApplication.ViewModels.Order.OrdersViewModel

@{
    ViewBag.Title = GlobalConstants.TitlePrefix + "Orders";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/Order/Orders.css"/>
}

@section MainContent
{
    @foreach (var order in Model.Orders)
    {
        var statusName=String.Empty;  
        switch (order.Status)
        {
             case OrderStatus.Delivered:
                statusName = "delivered";
                
                break;
            case OrderStatus.Paid:
                statusName = "paid";
                break;
            case OrderStatus.Unpaid:
                statusName = "unpaid";
                break;
            case OrderStatus.Refused:
                statusName = "refused";
                break;
        }
        
        <div class="entityListItem @statusName">
            <div class="bottomBordered">
                <div class="name">
                    <h4 >
                        <span>
                            <span class="activeClientName">
                                @order.Client.GetFullName()
                                <span class="activeClientUniqueId">@order.Client.UniqueId</span>
                            </span>
                            ordered 
                            <span class="activeProductName">
                                @order.Product.Name
                                <span class="activeProductSku">@order.Product.Sku</span>
                            </span>
                        </span>
                    </h4>
                </div>
                <div class="orderActionLinks">
                    <a class="orderActionLink" href="@Url.Action("Edit", "Order", new {orderId = order.Id})">
                        <img class="orderActionLink" src="~/Content/Images/edit.png" title="Edit" alt="D"/>
                    </a>
                </div>
                <div class="orderStatusLinks">
                    <a class="orderStatusLink" href="@Url.Action("ChangeStatus", "Order", new {orderId = order.Id,status=OrderStatus.Delivered})">
                        <img class="orderStatusLink delivered" src="~/Content/Images/delivered.png" title="Mark as delivered" alt="D"/>
                    </a>
                    <a class="orderStatusLink" href="@Url.Action("ChangeStatus","Order",new {orderId=order.Id,status=OrderStatus.Paid})">
                        <img class="orderStatusLink paid" src="~/Content/Images/paid.png" title="Mark as paid" alt="P"/>
                    </a>
                    <a class="orderStatusLink" href="@Url.Action("ChangeStatus","Order",new {orderId=order.Id,status=OrderStatus.Unpaid})">
                        <img class="orderStatusLink unpaid" src="~/Content/Images/unpaid.png" title="Mark as unpaid" alt="U"/>
                    </a>
                    <a class="orderStatusLink" href="@Url.Action("ChangeStatus", "Order", new {orderId = order.Id,status=OrderStatus.Refused})">
                        <img class="orderStatusLink refused" src="~/Content/Images/refused.png" title="Mark as refused" alt="R"/>
                    </a>
                </div>
                <div class="status">
                    <span class="status @statusName">(@statusName)</span>
                </div>
            </div>
            <div class="clearBoth"></div>
            <div class="additionalInfo">
                <div class="IDs">
                    <span class="client">
                        <span class="id-title">Client:</span>
                        <span class="id-value"> #<span class="activeClientUniqueId">@order.Client.UniqueId</span></span>
                    </span>
                    <span class="product">
                        <span class="id-title">Product:</span>
                        <span class="id-value"> #<span class="activeProductSku">@order.Product.Sku</span></span>
                    </span>
                </div>
                <div class="amount-price">
                    <span class="amount">@order.Amount</span>
                    item(s) at price of 
                    <span class="price">@order.Price$</span>
                    per item
                </div>
                <div class="totalPrice">
                    Total: <span class="number">@order.GetTotalPrice()$</span>
                </div>
                <div class="deliveryInfo">
                    <span class="infoItem"><span class="name">Delivery date:</span>&nbsp;<span class="value">@order.DeliveryDate.ToString(GlobalConstants.DateTimeFormat)</span></span>
                    <span class="infoItem"><span class="name">Delivery address:</span>&nbsp;<span class="value">@order.DeliveryAddress</span></span>
                    <span class="infoItem"><span class="name">Contact phone:</span>&nbsp;<span class="value">+@order.ContactPhoneNumber</span></span>
                </div>
            </div>
        </div>
    }
}
