@using Model
@using SalesManagement.MvcApplication
@using SalesManagement.MvcApplication.ViewModelBuilders.Product
@model SalesManagement.MvcApplication.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = GlobalConstants.TitlePrefix + "Create product";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/Product/Create.css" />
}

@section MainContent{
    <h3>Product creation</h3>
    @using (Html.BeginForm("Create", "Product", FormMethod.Post))
    {
        <div class="separate">
            @Html.Label("Name")<br />
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="separate">
            @Html.Label("Category")<br />
            @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "- Select category -")
            @Html.ValidationMessageFor(m => m.CategoryId)
        </div>

        <div class="separate">
            <div id="characteristics">
                @if (Model.CharacteristicValues != null)
                {
                    @Html.Partial("_CharacteristicValues", CharacteristicValuesPartialViewModelBuilder.Build(Model.CharacteristicValues))
                }
            </div>
        </div>

        <div class="separate">
            @Html.Label("Price")<br />
            @Html.TextBoxFor(m => m.Price)
            @Html.ValidationMessageFor(m => m.Price)
        </div>

        <div class="separate">
            @Html.Label("Amount")<br />
            @Html.TextBoxFor(m => m.Amount)
            @Html.ValidationMessageFor(m => m.Amount)
        </div>

        <div class="separate">
            @Html.Label("Description")<br />
            @Html.TextAreaFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>

        <div class="separate">
            @Html.Label("Status")<br />
            @Html.RadioButtonFor(m => m.Status, ProductStatus.Available, new {@checked = true, id = "rbnAvailable"})
            @Html.Label("Available", new {@for = "rbnAvailable"})<br />
            @Html.RadioButtonFor(m => m.Status, ProductStatus.TemporaryUnavailable, new {id = "rbnTemporaryUnavailable"})
            @Html.Label("Temporary unavailable", new {@for = "rbnTemporaryUnavailable"})<br />
            @Html.RadioButtonFor(m => m.Status, ProductStatus.Unavailable, new {id = "rbnUnavailable"})
            @Html.Label("Unavailable", new {@for = "rbnUnavailable"})<br />
        </div>

        <div class="separate">
            @Html.Label("SKU")<br />
            @Html.TextBoxFor(m => m.Sku, new {@readonly = ""})
            @Html.ValidationMessageFor(m => m.Sku)
            <button type="button" id="generateSku">Generate SKU</button>
        </div>

        <div class="separate">
            <button type="submit">Create</button>
        </div>
    }
    <script type="text/javascript" src="~/Scripts/jQuery.1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/Product/Create.js"></script>
}
