@model SalesManagement.MvcApplication.ViewModels.Product.ProductsViewModel
@using Model
@using SalesManagement.MvcApplication


@{
    ViewBag.Title = GlobalConstants.TitlePrefix + "Products";
}

@section Head
{
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/_Shared/_EntityList.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/Product/Products.css"/>
}

@section MainContent{
    <h2>
        Products
    </h2>

    @foreach (var product in Model.Products)
    {
        var statusName = String.Empty;
        var statusText = String.Empty;
        switch (product.Status)
        {
            case ProductStatus.Available:
                statusName = "available";
                statusText = "available";
                break;
            case ProductStatus.TemporaryUnavailable:
                statusName = "temporaryUnavailable";
                statusText = "temporary unavailable";
                break;
            case ProductStatus.Unavailable:
                statusName = "unavailable";
                statusText = "unavailable";
                break;
        }
        <div class="entityListItem @statusName">
            <div class="bottomBordered">
                <div class="name">
                    <h4 >
                        <span>
                            #@product.Sku
                            <span class="status @statusName">(@statusText)</span>
                            @*@switch (product.Status)
                            {
                                case ProductStatus.Available:
                                    <span class="status available">(available)</span>
                                    break;
                                case ProductStatus.TemporaryUnavailable:
                                    <span class="status temporaryUnavailable">(temporary unavailable)</span>
                                    break;
                                case ProductStatus.Unavailable:
                                    <span class="status unavailable">(unavailable)</span>
                                    break;
                            }*@
                        </span>
                    </h4>
                </div>
                <div class="entityActionLinks">
                    <a class="entityActionLink" href="@Url.Action("Edit","Product",new {sku=product.Sku})">
                        <img class="entityActionLink" src="~/Content/Images/edit.png" alt="Edit" title="Edit"/>
                    </a>
                    <a class="entityActionLink" href="@Url.Action("Delete","Product",new {sku=product.Sku})">
                        <img class="entityActionLink" src="~/Content/Images/delete.png" alt="Del" title="Delete"/>
                    </a>
                </div>
                <div class="entityStatusLinks">
                    <a class="entityStatusLink" href="@Url.Action("ChangeStatus","Product",new {sku=product.Sku,status=ProductStatus.Available})">
                        <img class="entityStatusLink" src="~/Content/Images/available.png" alt="A" title="Make availabe"/>
                    </a>
                    <a class="entityStatusLink" href="@Url.Action("ChangeStatus","Product",new {sku=product.Sku,status=ProductStatus.TemporaryUnavailable})">
                        <img class="entityStatusLink" src="~/Content/Images/temporary-unavailable.png" alt="A" title="Make temporary unavailable"/>
                    </a>
                    <a class="entityStatusLink" href="@Url.Action("ChangeStatus","Product",new {sku=product.Sku,status=ProductStatus.Unavailable})">
                        <img class="entityStatusLink" src="~/Content/Images/unavailable.png" alt="A" title="Make unavailable"/>
                    </a>
                </div>
                <div class="price">
                    <span class="amountLeft"><span class="number">@product.Amount</span> items left</span> at price of
                    <span class="number">
                        @product.Price$
                    </span>
                </div>
            </div>
            <div class="clearBoth"></div>
            <div class="additionalInfo">
                <div class="productName">
                    <span class="categoryName">@product.Category.Name → </span><span class="name">@product.Name</span>
                    
                </div>
                <div class="productCharacteristics">
                    @foreach (var characteristic in product.CharacteristicValues)
                    {
                        <span class="productCharacteristic">
                            <span class="characteristicName">@characteristic.Characteristic.Name</span>:&nbsp;<span class="characteristicValue">@characteristic.Value</span>
                        </span>
                    }
                </div>
                <div class="productDescription">
                    <span class="name">Description:</span>&nbsp;<span>@product.Description</span>
                </div>
            </div>
        </div>
    }
}