@using Model
@using SalesManagement.MvcApplication
@model SalesManagement.MvcApplication.ViewModels.Account.ViewProfileViewModel

@{
    ViewBag.Title = GlobalConstants.TitlePrefix + "Profile";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/Account/ViewProfileStyle.css" />
}

@section MainContent{
    <div id="profileInfo">
        <div id="profilePhoto">
            @if (Model.ImageUrl != null)
            {
                <img src="@GlobalConstants.UserImageDirectory@Model.ImageUrl" width="100" alt=""/>
            }
            else
            {
                <img src="~/Content/Images/noimage.png" width="100" alt="" />
            }
        </div>
        <div id="profileDetails">
            <div id="gender">
                @switch (Model.Gender)
                {
                    case Gender.Female:
                        <img src="~/Content/Images/female.png" alt="" />
                        break;
                    case Gender.Male:
                        <img src="~/Content/Images/male.png" alt="" />
                        break;
                }
            </div>
            <div id="login">
                @Model.Login
            </div>
            <div id="fullName">
                <span id="firstName">@Model.FirstName</span>
                <span id="lastName">@Model.LastName</span>@if (Model.DateOfBirth != null){<span id="age">, @((new DateTime((DateTime.Now - Model.DateOfBirth).Value.Ticks).Year - 1))</span>}
            </div>
            <div id="roles">
                <label>Role:</label>
                <span class="role">@Model.Role</span>
            </div>
        </div>
        <div id="charts">
            <div id="chartsMenu">
                <div id="btnStatusChart">Statuses percentage</div>
                <div id="btnMonthlyAmountChart">Order amount per month</div>
            </div>
            <div id="salesChart">

            </div>
        </div>
        
    </div>

    <div id="profileLinks">
        @if (Context.User.Identity.Name.Equals(Model.Login, StringComparison.OrdinalIgnoreCase))
        {
            @Html.ActionLink("Edit profile", "EditProfile", "Account")
            if (User.IsInRole(RoleNames.EmployeeRoleName))
            {
                <div id="employeeArea">
                    <h3>Employee panel</h3>
                    <div class="subArea">
                        <h4>Orders</h4>
                        @Html.ActionLink("Register new order", "Create", "Order")
                        @Html.ActionLink("View all", "All", "Order")
                        @Html.ActionLink("View my orders","My","Order")
                    </div>
                </div>
            }
            if (User.IsInRole(RoleNames.ManagerRoleName))
            {
                <div id="managerArea">
                    <h3>Manager panel</h3>
                    <div class="subArea">
                        <h4>Users</h4>
                        @Html.ActionLink("Register new employee", "Register", "Account")
                    </div>
                    <div class="subArea">
                        <h4>Clients</h4>
                        @Html.ActionLink("Create new", "CreateClient", "Order")
                        @Html.ActionLink("View all", "Clients", "Order")
                    </div>
                </div>
            }

            if (User.IsInRole(RoleNames.AdministratorRoleName))
            {
                <div id="adminArea">
                    <h3>Administrator panel</h3>
                    <div class="subArea">
                        <h4>Users</h4>
                        @Html.ActionLink("Register new user", "Register", "Account")
                    </div>
                    <div class="subArea">
                        <h4>Product categories</h4>
                        @Html.ActionLink("Create new", "CreateCategory", "Product")
                        @Html.ActionLink("View all and edit", "Categories", "Product")
                    </div>
                    <div class="subArea">
                        <h4>Products</h4>
                        @Html.ActionLink("Create new", "Create", "Product")
                        @Html.ActionLink("View all","Products","Product")
                    </div>

                    @if (PreprocessorHelper.IsDebug())
                    {
                        <div class="subArea debug">
                            <h4>Clients</h4>
                            @Html.ActionLink("Create new", "CreateClient", "Order")
                            @Html.ActionLink("View all", "Clients", "Order")
                        </div>
                    
                        <div class="subArea debug">
                            <h4>Orders</h4>
                            @Html.ActionLink("Register new order", "Create", "Order")
                            @Html.ActionLink("View all", "All", "Order")
                            @Html.ActionLink("View my orders","My","Order")
                        </div>
                    }
                </div>
            }
        }
    </div>
    <script type="text/javascript" src="~/Scripts/_Libraries/highcharts.js"></script>
    <script type="text/javascript" src="~/Scripts/Account/ViewProfile.js"></script>
    <script type="text/javascript" src="~/Scripts/_Libraries/moment.js"></script>
}